<header>
  <nav class="nav" aria-label="Main Navigation">
    <ul class="nav__list container flex-end">
      <div class="logo-container">
        <figure class="logo-container__figure">
          <img
            class="logo"
            src="assets/images/spotless_planet.svg"
            alt="Spotless Planet Logo"
          />
        </figure>
        <h3 class="logo-text">Spotless Planet, LLC</h3>
      </div>
      <ng-container *ngFor="let link of navLinks">
        <li
          class="nav__item col-1 flex-center"
          [routerLink]="['/']"
          fragment="{{ link.href }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
          matrixParams: 'exact',
          queryParams: 'exact',
          paths: 'exact',
          fragment: 'exact',
        }
        "
          [ngClass]="{ active: link.default }"
        >
          <a class="nav__link">{{ link.text }}</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
