.nav {
  height: 4.5rem;
  background: linear-gradient(
    90deg,
    var(--primary-color-light),
    var(--secondary-color)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.nav__list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.logo-container {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.logo-container__figure {
  height: 100%;
  width: 70px;
}

.logo-text {
  font: var(--font-size-small) var(--font-family-header);
  color: var(--color-white);
  margin: auto auto auto 1.5rem;
}

.nav__item {
  height: 100%;
  cursor: pointer;
}

.nav__item:hover {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav__item.active {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scaleY(1.05);
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font: var(--font-size-small) var(--font-family-header);
}
@media (max-width: 768px) {
  .logo-text,
  .nav__link {
    font-size: 12px;
  }
  .nav__item {
    flex: 0 0 14% !important;
    max-width: 14% !important;
  }
  .logo-text {
    margin: auto auto auto 0.9rem;
  }
}

.logo-text,
.nav__link {
  text-shadow: 2px 2px 4px var(--color-black);
}

.active .nav__link {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.4rem;
}
