<section class="about__section container" aria-labelledby="about">
  <h2 class="about__heading flex-center" id="about">About Us</h2>
  <div class="about__content row">
    <figure class="about__image-container col-6">
      <img
        class="about__image"
        src="assets/images/about_image.jpg"
        alt="Spotless Planet About Us"
      />
    </figure>
    <aside class="about__container flex-center col-6">
      <p class="about__text">
        At Spotless Planet, LLC, we take pride in providing high-quality
        cleaning services throughout New Jersey. With a focus on attention to
        detail and a strong work ethic, we go above and beyond to ensure every
        space is left spotless, fresh, and inviting.
      </p>

      <p class="about__text">
        Our team of experienced professionals is committed to delivering
        reliable and thorough service, tailored to meet each client’s unique
        needs. Whether you need a one-time cleaning or routine maintenance, you
        can count on us to get the job done right.
      </p>

      <p class="about__text">
        We believe in combining efficiency, integrity, and professionalism to
        exceed expectations on every job. With Spotless Planet, your
        satisfaction is our priority, and a cleaner, more comfortable space is
        always guaranteed.
      </p>
    </aside>
  </div>
</section>
