<section class="contact__section container" aria-labelledby="contact">
  <h2 class="contact__heading flex-center" id="contact">Contact Us</h2>
  <div class="contact__content row">
    <figure class="contact__image-container col-6">
      <img
        class="contact__image"
        src="assets/images/about_image.jpg"
        alt="Spotless Planet Contact Us"
      />
    </figure>
    <aside class="contact__container col-6">
      <p class="contact__text">
        Spotless Planet, LLC – Professional Cleaning Services Looking for a
        spotless home or office? We provide high-quality, reliable cleaning
        services tailored to your needs. Serving North New Jersey, we guarantee
        a thorough clean with exceptional attention to detail.
      </p>
      <br />
      <ul class="contact__list contact__text">
        <li>Call us: 555-555-555 (Spanish) | 201-491-1772 (English)</li>
        <li>Email us: info&#64;spotlessplanet.com</li>
        <li>Hours: Mon-Fri: 7 AM – 3 PM | Other hours by appointment</li>
      </ul>
    </aside>
  </div>
</section>
