<section class="contact__section container" aria-labelledby="contact">
  <h2 class="contact__heading flex-center" id="contact">Contact Us</h2>
  <div class="contact__content row">
    <figure class="contact__image-container col-6 col-sm-8">
      <img
        class="contact__image"
        src="assets/images/contact_image.jpg"
        alt="Spotless Planet Contact Us"
      />
    </figure>
    <aside class="contact__container col-6 col-sm-12">
      <p class="contact__text">
        Looking for a spotless home or office? We provide high-quality, reliable
        cleaning services tailored to your needs. Contact us today to schedule
        an appointment.
      </p>
      <br />
      <ul class="contact__list contact__text">
        <li>
          <b>Call us:</b> <br />
          <a class="contact__anchor" href="tel:555-555-555"
            >555-555-555 (Spanish) </a
          ><br />
          <a class="contact__anchor" href="tel:201-491-1772"
            >201-491-1772 (English)
          </a>
        </li>
        <li>
          <b>Email us:</b> <br /><a
            class="contact__anchor"
            href="mailto:info@spotlessplanet.com"
            >info&#64;spotless-planet.com</a
          >
        </li>
        <li>
          <b>Hours: <br />Monday - Friday</b> <br />7 AM – 3 PM <br />
          <i>Other Hours by Appointment</i>
        </li>
      </ul>
    </aside>
  </div>
</section>
