.contact__section {
  margin: 2.5rem 0;
  justify-content: center;
}

.contact__heading {
  font: var(--font-size-large) var(--font-family-header);
  color: var(--color-black);
  margin: 0 0 2.5rem;
}
.contact__text {
  font: var(--font-size-small) var(--font-family-body);
  color: var(--color-black);
  margin: 0.75rem 0;
  padding-left: 3rem;
}

.contact__list {
  list-style-type: none;
}

.contact__anchor {
  display: inline-flex;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.contact__anchor:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.contact__image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact__container {
  flex-direction: column;
}
