<section class="services__section container" aria-labelledby="services">
  <h2 class="services__heading flex-center" id="services">Our Services</h2>
  <div class="services__content row">
    <aside class="services__container col-6">
      <p class="services__text">
        We offer the following top-tier cleaning services for:
      </p>
      <ul class="services__list services__text">
        <li>Move Out Services - $65 / Hour</li>
        <li>Homes – Starting at $90</li>
        <li>Apartments – Starting at $90</li>
        <li>Condos – Starting at $90</li>
        <li>Offices – Starting at $100</li>
      </ul>
      <p class="services__text">
        <i>Prices vary based on the size and specific needs of your space.</i>
        <br />
        <br />Please call us today to receive a personalized quote!
      </p>
    </aside>
    <figure class="services__image-container col-6">
      <img
        class="services__image"
        src="assets/images/services_image.jpg"
        alt="Spotless Planet Services"
      />
    </figure>
  </div>
</section>
