<section class="services__section">
  <h2 class="services__heading flex-center" id="services">Our Services</h2>
  <div class="services__content row">
    <aside class="services__container flex-center col-6">
      <p class="services__text">
        Spotless Planet, LLC offers top-tier cleaning solutions for:
      </p>
      <ul class="services__list services__text">
        <li>Homes – Starting at $150</li>
        <li>Apartments – Starting at $100</li>
        <li>Condos – Starting at $120</li>
        <li>Offices – Starting at $200</li>
      </ul>
      <p class="services__text">
        Prices vary based on the size and specific needs of your space. Call us
        today for a personalized quote!
      </p>
    </aside>
    <figure class="services__image-container col-6">
      <img
        class="services__image"
        src="assets/images/services_image.jpg"
        alt="Spotless Planet Services"
      />
    </figure>
  </div>
</section>
