<section class="hero-banner" aria-labelledby="hero-banner-heading">
  <video autoplay muted loop class="hero-banner__video">
    <source src="assets/videos/hero-banner.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <aside class="container">
    <div class="col-6">
      <div class="hero-banner__header row">
        <figure class="logo-container">
          <img
            class="logo"
            src="assets/images/spotless_planet.svg"
            alt="Spotless Planet Logo"
          />
        </figure>
        <div class="hero-banner__header-container">
          <h1 class="hero-banner__header-text row" id="hero-banner-heading">
            Spotless Planet
          </h1>
          <p class="hero-banner__subheader-text row">
            We clean your home without dirtying the planet!
          </p>
        </div>
      </div>

      <div class="hero-banner__about row">
        <p class="hero-banner__about-text">
          Serving <b>Hudson County, NJ</b> Spotless Planet delivers top-notch
          cleaning services for homes, apartments, condominiums and offices
          spaces.
        </p>

        <p class="hero-banner__about-text">
          Our team is dedicated to leaving every corner spotless, ensuring your
          space looks and feels its absolute best.
        </p>

        <p class="hero-banner__about-text">
          Experience exceptional results, at affordable prices, with a service
          you can trust — call to book your first appointment today!
        </p>

        <p class="hero-banner__about-text"><b>¡Tambien hablamos Español!</b></p>
      </div>
    </div>
  </aside>
</section>
