.logo {
  width: 125px;
  height: 125px;
}

/* .hero-banner {
  background-image: url("/assets/images/unsplash_banner_large.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  align-content: center;
} */

.hero-banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(2px); */
  z-index: 0;
}

.hero-banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-banner__content {
  position: relative;
  z-index: 1;
  color: white; /* Adjust text color for better visibility */
}

.hero-banner__header {
  align-items: center;
}

.hero-banner__header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
}

.hero-banner__header-text {
  font: var(--font-size-title) var(--font-family-header);
  color: var(--color-black);
  margin: 0px;
}

.hero-banner__subheader-text {
  font: var(--font-size-medium) var(--font-family-header);
  color: var(--color-black);
  margin: 0px;
}

.hero-banner__about-text {
  font: var(--font-size-small) var(--font-family-body);
  color: var(--color-black);
  margin: 0.75rem 0;
}
