/* Variables */
:root {
  --container-padding: 15px;
  --gutter-width: 15px;
  --body-color: #f1e8e4;
  --color-white: #fff;
  --color-black: #000;
  --primary-color: #5daaa6;
  --secondary-color: #3a7774;
  --tertiary-color: #4d567a;
  --tertiary-color-light: #8a93b3;

  --font-family-header: "Libre Bodoni", serif;
  --font-family-body: "Albert Sans", sans-serif;
  --font-size-title: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;
}

/* Normalize CSS */

body {
  margin: 0;
}

ul {
  margin: 0;
}

figure {
  margin: 0;
}

/* ADA Classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Document Wide */

body {
  background: var(--body-color);
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Flexbox Grid */

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  max-width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding-right: var(--gutter-width);
  padding-left: var(--gutter-width);
}

.col-1 {
  flex: 0 0 8.33%;
  max-width: 8.33%;
}
.col-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-5 {
  flex: 0 0 41.66%;
  max-width: 41.66%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.col-11 {
  flex: 0 0 91.66%;
  max-width: 91.66%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Responsive Sizes */

@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-1 {
    flex: 0 0 8.33% !important;
    max-width: 8.33% !important;
  }
  .col-md-2 {
    flex: 0 0 16.66% !important;
    max-width: 16.66% !important;
  }
  .col-md-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .col-md-4 {
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }
  .col-md-5 {
    flex: 0 0 41.66% !important;
    max-width: 41.66% !important;
  }
  .col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col-md-7 {
    flex: 0 0 58.33% !important;
    max-width: 58.33% !important;
  }
  .col-md-8 {
    flex: 0 0 66.66% !important;
    max-width: 66.66% !important;
  }
  .col-md-9 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
  .col-md-10 {
    flex: 0 0 83.33% !important;
    max-width: 83.33% !important;
  }
  .col-md-11 {
    flex: 0 0 91.66% !important;
    max-width: 91.66% !important;
  }
  .col-md-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .col {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-1 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .col-sm-2 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col-sm-3 {
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }
  .col-sm-4 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .col-sm-5 {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
  .col-sm-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col-sm-7 {
    flex: 0 0 58.33% !important;
    max-width: 58.33% !important;
  }
  .col-sm-8 {
    flex: 0 0 66.66% !important;
    max-width: 66.66% !important;
  }
  .col-sm-9 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
  .col-sm-10 {
    flex: 0 0 83.33% !important;
    max-width: 83.33% !important;
  }
  .col-sm-11 {
    flex: 0 0 91.66% !important;
    max-width: 91.66% !important;
  }
  .col-sm-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

/* Utility Atomic Classes */
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
